.choice{
    padding: 180px 0 227px;
}
.choice .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice-content{
    max-width: 583px;

}
.choice-description{
    font-size: 18px;
    line-height: 22px;
}
.choice-options{
    margin-top: 60px;
    width: 583px;
}
.choice-option{
    background: #FFFFFF;
    border: 1px solid #C1BBBB;
    font-size: 18px;
    line-height: 22px;
    padding: 26px 70px 26px 40px;
    position: relative;
    transition: .2s ease all;
}

.choice-option:hover{
    border-left: 5px solid #6933DC;
    color: #6933DC;
    font-family: 'MuseoSansCyrlBold', sans-serif;
    cursor: pointer;
}
.choice-option-text{}

.choice-option-arrow{
    position: absolute;
    top: 27px;
    right: 20px;
    display: none;
}

.choice-option:hover .choice-option-arrow{
    display: block;

}


.choice-image{}

.choice-option-result {
    position: absolute;
    z-index: 2;
    right: 18px;
    top: 16px;
    border: 1px solid #6933DC;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #6933DC;
    background: white;
    text-align: center;
}

.choice-option-result div:first-child{
    margin-bottom: 3px;
}

