body {
    margin: 0;
    padding: 0;
    font-family: 'MuseoSansCyrl', sans-serif;
    color: #333333;
}

@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('/fonts/MuseoSansCyrl-500.otf');
}
@font-face {
    font-family: 'MuseoSansCyrlBold';
    src: url('/fonts/MuseoSansCyrl-700.otf');
}

a{
    color: #6933DC;

}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.common-title{
    font-family: 'MuseoSansCyrlBold', sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933DC;
}

.big-title{
    font-family: 'MuseoSansCyrlBold', sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span{
    color:  #6933DC;
}

.button{
    background: #6933DC;
    border: 0;
    border-radius: 6px;
    padding: 14px 35px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .5s;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

.button:hover {
    background: #470dc4;
}
.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
}

.button-transparent{
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:hover{
    background: #6933DC;
    color: #ffffff;
}

.button-transparent:disabled{
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-info{
    margin-left: 5px;
}

.profile-user {
    font-size: 18px;
    line-height: 18px;
}

.profile-logout {
    font-size: 12px;
    line-height: 12px;
}
